<header>
    <ul>
        <div id="nav">
            <a href="/posts">Posts page</a> |
            <a href="/addnew">New post</a> |
            <a href="/contact">Contacts</a>
    </ul>

    <nav>
        <!--         <div class="post-it">

            <img class="post-it" src="note.jpg" alt="some logo" style="width: 50px; height: 50px" />
        </div> -->

        <div class="search-container">
            <input type="text" /><button>Search</button>
        </div>

        <!--         <div class="dropdown">
            <img class="dropbtn" src="picture2.png" alt="some logo" style="width: 50px; height: 50px" />
        </div> -->
    </nav>
</header>