<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <h2>This page does not exist</h2>
    <%- include('partials/footer.ejs') %>

</body>

</html>