<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <h1>Add new post</h1>
    <br>
    <div class="create-post">
        <form action="/posts" method="POST">
            <label for="title">Post title:</label>
            <input type="text" id="title" name="titlex" required><br><br>
            <label for="body">Post body:</label>
            <input type="text" id="body" name="bodyx" required><br><br>
            <label for="create_time">Post time:</label>
            <input type="text" id="time" name="create_timex" required><br><br>

            <button>Submit</button>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>

</body>

</html>