<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Add new post</h1>
    <br>
        <div class="create-post">
            <form action="/posts" method="POST">
                <label for="title">Post title:</label>
                <input type="text" id="title" name="titlex" required><br><br>
                <label for="body">Post body:</label>
                <input type="text" id="body" name="bodyx" required><br><br>
                <label for="time">Post time:</label>
                <input type="text" id="time" name="create_timex" required><br><br>
                <!-- <label for="like">Post likes:</label>
                <input type="text" id="like" name="likex" required><br><br> -->
                <button>Submit</button>
            </form>
        </div>
    <%- include('partials/footer.ejs') %>
    
</body>
</html>