<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <h1>This is where our contacts are</h1>
    <h2><%= contactx %></h2>
    <%- include('partials/footer.ejs') %>
</body>

</html>